<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geosparksdk.androidexample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--GOOGLE API-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR-GOOGLE-APP-ID" />

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".viewlatlng.LatLngLogActivity"
            android:label="@string/app_latlnglogs" />

        <activity
            android:name=".viewmap.ViewMapActivity"
            android:label="@string/app_map" />

        <activity
            android:name=".viewlogs.ViewLogActivity"
            android:label="@string/app_logs" />

        <!--FIREBASE-->
        <service android:name="com.geosparksdk.androidexample.firebaseid.MyFireBaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name="com.geosparksdk.androidexample.firebaseid.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".LocationReceiver">
            <intent-filter>
                <action android:name="intent.geospark.location" />
            </intent-filter>
        </receiver>
    </application>

</manifest>